{% extends 'base.html' %}

{% block title %}Posts{% endblock %}


{% block content %}

<div class="bg-image p-5"   style="
background-image: url(../../static/pic/background_6.jpg);
height: 1200px;
">
  <div class="container-fluid">
  <!--   <div class="jumbotron text-center">
    <h1 class="fw-light">CatEatPad</h1>
    <p class="lead text-muted">Find a temporary home for your pet, or Be a foster family!</p>
          <p>
    </div> -->

      <section class="p-3 mb-2 bg-light text-center container-fliud ">

      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1>CatEatPad</h1>
          <p class="lead text-muted">We help pet owners to find a temporary home for their pets!</p>
          <p class="lead text-muted">Connect with a foster family? Start with</p>
          <p class="lead text-muted"></p>
        </div>
        {% if g.user %}
        <div class="text-center">
          <a href="{{ url_for('blog.create') }}">

          <button type="button" class="btn btn-warning btn-sm">Publish a New Post</button></a>
        </div>
        {% else %}
        <div class="text-center">
          <p><button type="button" disabled class="btn btn-dark btn-block">Publish a New Post</button></p>

          <small class="text-center text-muted">Please login to Publish</small>
        </div>
        {% endif %}
      </div>
    </section>


    <section>
    <div class="row">

        <div class="col-lg-3">
          <div class="m-2 p-2">

          <div class="pt-3">
          <form action="" method="post" enctype="multipart/form-data" class="d-flex flex-column">

              <div class="form-group row">
                <label for="type" class="col-3 col-form-label col-form-label-sm">Type</label>
                <div class="col-9">
                  <input id="type" name="type" required value="{{ request.form['type'] }}" class="form-control form-control-sm" placeholder="Type of pet.">
                </div>
              </div>
          
              <div class="form-group row">
                <label for="city" class="col-3 col-form-label col-form-label-sm">City</label>
                <div class="col-9">
                  <input id="city" name="city" required value="{{ request.form['city'] }}" class="form-control form-control-sm" placeholder="Your location.">
                </div>
              </div>
          
              <div class="form-group row">
                <label for="startdate" class="col-3 col-form-label col-form-label-sm">Start</label>
                <div class="col-9">
                  <input type="date" id="startdate" name="startdate" required value="{{ request.form['startdate'] }}" class="form-control form-control-sm">
                </div>
              </div>
          
              <div class="form-group row">
                <label for="enddate" class="col-3 col-form-label col-form-label-sm">End</label>
                <div class="col-9">
                  <input type="date" id="enddate" name="enddate" required value="{{ request.form['enddate'] }}" class="form-control form-control-sm">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">        
            <a class="link-secondary" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
            Search
            </a>
            </button>
            
        
          </form>
        </div>
        </div>

        <div class="col-lg-9">
          <div class="m-1 p-2">
            <div class="album">
              <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                  {% for post in posts %}
                  <div class="col">
                    <div class="card shadow">
                      <a class="link-dark" href="{{ url_for('blog.ViewPost', pet_id=post['id']) }}">
                      <img class="card-img-top" height="225" src="{{post['image']}}" alt="Card image cap"></a>
                      <div class="card-body">
                        <p><strong>Type: </strong> {{post['type']}}, <strong>Age: </strong> {{post['age']}}</p>
                        <p><strong>Location:</strong> {{post['location']}}</p>
                        <p><strong>Duration:</strong> <small> {{post['startdate'].strftime('%Y-%m-%d')}} to {{post['enddate'].strftime('%Y-%m-%d')}} </small></p>
                        <p class="mt-1 text-muted text-end">{{ post['username'] }} posted on {{ post['created'].strftime('%Y-%m-%d') }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>


{% endblock %}