{% extends 'temp_base.html' %}

{% block header %}
  <h1>{% block title %}Log In and Register{% endblock %}</h1>
{% endblock %}

{% block detail %}
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head runat="server">
  <div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">Log In</li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post" runat="server" onsubmit="">
              <div class="layui-form-item">
                <label for="username" class="layui-form-label">Username</label>
                <div class="layui-input-inline">
                  <input type="text" id="username" name="username" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="password" class="layui-form-label">Password</label>
                <div class="layui-input-inline">
                  <input type="password" id="password" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">Imagecode</label>
                <div class="layui-input-inline">
                  <input type="text" id="inputCode" name="imagecode" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="Please Enter Imagecode">
                </div>
                <img class="verify_code" src="/auth/code " onclick="this.src='/auth/code?'+ Math.random()">
              </div>

              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit onclick="">Login</button>
              </div>
              {% for message in get_flashed_messages() %}
                   <div class="warning" style="color:#FF5722;">{{ message }}</div>
                 {% endfor %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}