{% extends 'base.html' %}

{% block title %}User Home Page{% endblock %}

{% block content %}

<div class="bg-light m-3 rounded text-center">

      <div>
        <img src="https://github.com/mdo.png" alt="mdo" width="128" height="128" class="rounded-circle mt-3 mb-1">
        <h5>{{ user['nickname'] }}</h5>
        <p>{% if user['email'] %}
            {{ user['email'] }}
            {% endif %}
        </p>
        <p><small class="text-muted"><i class="far fa-calendar-plus fa-1x"></i> <span>{{ user['created'].strftime('%Y-%m-%d') }} Add</span></small></p>
        <a href="#" class="btn btn-dark m-1 btn-sm">Change Profile</a>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col bg-white shadow m-4 p-3 rounded">
            <h6>Recent Published</h6>

            <ul class="list-group border">
                {% for post in user['posts'] %}
                <li class="border-0 list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex w-100 justify-content-between">
                        <a href="{{ url_for('blog.ViewPost', id=post['id']) }}" class="link-dark">{{post['title']}}</a>
                        <small class="text-muted">{{ post['created'].strftime('%Y-%m-%d') }}</small>
                    </div>
                </li>
                {% endfor %}
            </ul>

          </div>
          <div class="col bg-white shadow m-4 p-3 rounded">
            <h6>Recent Collected</h6>

            <ul class="list-group border">
                {% for post in user['markposts'] %}
                <li class="border-0 list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex w-100 justify-content-between">
                        <a href="{{ url_for('blog.ViewPost', id=post['id']) }}" class="link-dark">{{post['title']}}</a>
                        <small class="text-muted">{{ post['created'].strftime('%Y-%m-%d') }}</small>
                    </div>
                </li>
                {% endfor %}
            </ul>

          </div>
        </div>
      </div>
</div>
{% endblock %}