
{% extends 'temp_base.html' %}
{% block header %}
  <h1>{% block title %}User Home Page{% endblock %}</h1>
{% endblock %}

{% block detail %}
<div class="fly-home fly-panel" style="background-image: url(); ">
  <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
  <h1>
    {{ user['nickname'] }}
  </h1>

  <p class="fly-home-info">
    {% if user['email'] %}
    <span>{{ user['email'] }}</span>
    {% endif %}
  </p>
  
  <p class="fly-home-info">
    <i class="iconfont icon-shijian"></i><span>{{ user['created'].strftime('%Y-%m-%d') }} Add</span>
  </p>
</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6 fly-home-jie">
      <div class="fly-panel">
        <h3 class="fly-panel-title">{{ user['nickname'] }} Recent Published Post</h3>
        <ul class="jie-row">
          {% for post in user['posts'] %}
          <li>
            <a href="{{ url_for('blog.ViewPost', id=post['id']) }}" class="jie-title"> {{post['title']}}</a>
            <i>{{ post['created'].strftime('%Y-%m-%d') }}</i>
            <em class="layui-hide-xs">{{ post['marknum'] }}Collects/{{ post['replynum'] }}Replies</em>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    <div class="layui-col-md6 fly-home-jie">
      <div class="fly-panel">
        <h3 class="fly-panel-title">{{ user['nickname'] }} Recent Collected Post</h3>
        <ul class="jie-row">
          {% for post in user['markposts'] %}
          <li>
            <a href="{{ url_for('blog.ViewPost', id=post['id']) }}" class="jie-title"> {{post['title']}}</a>
            <i>{{ post['created'].strftime('%Y-%m-%d') }}</i>
            <em class="layui-hide-xs">{{ post['marknum'] }}Collects/{{ post['replynum'] }}Replies</em>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
<br>
    <br>
    <p style="text-align:center"><span style="color:#c2c2c2">CatEatPad</span></p>
    <br>
<br>
</div>



{% endblock %}