
{% extends 'blog/temp_indextop.html' %}

{% block header %}
  <h1>{% block title %}User Settings{% endblock %}</h1>
{% endblock %}

{% block all_content %}
<canvas id="myCanvas" width="150px" height="500px" horizontalScrollPolicy="off"></canvas>
{% if g.user %}
<div style="position:absolute;left:90px;top:400px" class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a href="{{ url_for('user.setname')}}">
        <i class="layui-icon">&#xe620;</i>
        Set Nickname
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="{{ url_for('user.setemail')}}">
        <i class="layui-icon">&#xe620;</i>
        Set Email
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="{{ url_for('user.setpass')}}">
        <i class="layui-icon">&#xe620;</i>
        Set Password
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
     <div class="fly-panel fly-panel-user" pad20>
      <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li class="layui-this" lay-id="info">My Email</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-form layui-form-pane layui-tab-item layui-show">
          <form method="post">
             <div class="layui-form-item">
                <label for="L_nowpass" class="layui-form-label">Current Password</label>
                <div class="layui-input-inline">
                  <input type="password" id="nowpass" name="nowpass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>

          <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">New Password</label>
                <div class="layui-input-inline">
                  <input type="password" id="password" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6-16 Characters</div>
              </div>
              
           <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">Confirm Password</label>
                <div class="layui-input-inline">
                  <input type="password" id="repassword" name="repassword" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>

            
            <div class="layui-form-item">
              <button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>Confirm</button>
            </div>
            {% for message in get_flashed_messages() %}
                   <div class="warning" style="color:#FF5722;">{{ message }}</div>
            {% endfor %}
          </form>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <p style="text-align:center"><span style="color:#c2c2c2">CatEatPad</span></p>
  </div>

<script>
  var cav = document.getElementById('myCanvas');
  var w = window.screen.availWidth;
  var h = window.screen.availHeight;
  var yPositions = Array(300).join(0).split('');
  var ctx = cav.getContext('2d');
  var draw = function(){
    ctx.fillStyle = 'rgba(57,61,73,1)';
    ctx.fillRect(0,0,w,h+350);
    ctx.fillStyle = 'rgba(95,184,120,1)';
    ctx.font = '20px';
    yPositions.map(function(y,index){
      text = String.fromCharCode(1e2+Math.random()*330);
      x = index*10;
      cav.getContext('2d').fillText(text,x,y);
      if(y>Math.random()*1e4){
        yPositions[index]=0;
      }else{
        yPositions[index]=y+10;
      }

    });
  }
  cav.setAttribute("width",screen.availWidth);
  cav.setAttribute("height",screen.availHeight+350);
  setInterval('draw()',20);
</script>
{% endif %}
{% endblock %}